name: Build GKI Picasso Poco M5 (Clean No KSU)
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y bc bison build-essential flex libssl-dev libelf-dev clang lld llvm crossbuild-essential-arm64

      - name: Clone Picasso Source
        run: |
          git clone --depth=1 https://github.com/picasso09/android_kernel_gki-android12-9 kernel-source

      - name: Build Kernel
        run: |
          cd kernel-source
          
          # Bersihkan total folder output
          rm -rf out
          mkdir out
          
          CONF="arch/arm64/configs/gki_defconfig"
          
          # 1. FIX MOUNTING /VENDOR & EROFS (Tetap wajib biar gak bootloop)
          sed -i '/CONFIG_EROFS_FS/d' $CONF
          sed -i '/CONFIG_OVERLAY_FS/d' $CONF
          echo "CONFIG_EROFS_FS=y" >> $CONF
          echo "CONFIG_EROFS_FS_ZIP=y" >> $CONF
          echo "CONFIG_EROFS_FS_PCPU_KTHREAD=y" >> $CONF
          echo "CONFIG_EROFS_FS_PCPU_KTHREAD_HIPRI=y" >> $CONF
          echo "CONFIG_OVERLAY_FS=y" >> $CONF
          echo "CONFIG_UNICODE=y" >> $CONF
          echo "CONFIG_FS_ENCRYPTION=y" >> $CONF
          
          # 2. SELINUX PERMISSIVE (Tetap masukin biar lo gampang dapet root ntar)
          sed -i '/CONFIG_SECURITY_SELINUX_DEVELOP/d' $CONF
          sed -i '/CONFIG_SECURITY_SELINUX_BOOTPARAM/d' $CONF
          sed -i '/CONFIG_ALWAYS_ENFORCE/d' $CONF
          echo "CONFIG_SECURITY_SELINUX_DEVELOP=y" >> $CONF
          echo "CONFIG_SECURITY_SELINUX_BOOTPARAM=y" >> $CONF
          echo "CONFIG_ALWAYS_ENFORCE=n" >> $CONF
          
          # 3. DISABLE LTO (Biar build-nya cepet dan stabil)
          sed -i 's/CONFIG_LTO_CLANG_THIN=y/CONFIG_LTO_CLANG_NONE=y/g' $CONF
          sed -i 's/CONFIG_LTO_CLANG_FULL=y/CONFIG_LTO_CLANG_NONE=y/g' $CONF
          sed -i '/CONFIG_LTO_CLANG_NONE/d' $CONF
          echo "CONFIG_LTO_CLANG_NONE=y" >> $CONF
          
          # 4. KOMPILASI
          make O=out ARCH=arm64 gki_defconfig
          make O=out ARCH=arm64 olddefconfig
          
          make -j$(nproc --all) O=out ARCH=arm64 \
               CC=clang \
               LD=ld.lld \
               AR=llvm-ar \
               NM=llvm-nm \
               OBJCOPY=llvm-objcopy \
               OBJDUMP=llvm-objdump \
               STRIP=llvm-strip \
               CROSS_COMPILE=aarch64-linux-gnu- \
               CROSS_COMPILE_COMPAT=arm-linux-gnueabi- \
               LLVM=1 \
               LLVM_IAS=1 \
               Image.gz

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Kernel-PocoM5-Picasso-Clean
          path: kernel-source/out/arch/arm64/boot/Image.gz
          
